
.App {

  text-align: center;
}
body {
  background-color: beige;
  border: double black 10px;
  margin: 2%;
  min-height: 500px;
}
a {
  color: green;
  text-decoration: none;
}
a:hover{
  text-shadow: 0 0 2px rgb(53, 170, 40);
}
.navDiv {
  color: green;
  font-family: fantasy;
  display: inline-flex;

}
.navDiv>a{
  margin: 10px auto;
}
.homeImage img {
  width: 25%;
  height: 25%;
}
.header {
  font-family: fantasy;
  margin: auto;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 0, 0.643);
  border: 1px solid rgb(209, 209, 5);
  display: inline-flex;
  padding-left: 10px;
  overflow: hidden;
}
.header>h1{
  margin: auto;
  text-align: right;
  padding-right: 20px;
}
.header>div{
  margin-top: auto;
  margin-bottom: auto;
}
#red-circle{
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
}

#yellow-circle{
  height: 15px;
  width: 15px;
  background-color: goldenrod;
  border-radius: 50%;
}
#green-circle{
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
}

.home {
  height: 100%;
}
.mySheetsTitle {
  font-family: fantasy;
  color: black;
}
.editPostTitle {
  font-family: fantasy;
}
/* .editPost {
  font-family: fantasy;
  display: flex;
  justify-content: center;
} */
.searchResults {
  border: 10px double black;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: double black;
}

.App-link {
  color: beige;
}

.contentBox {
  border: 10px solid black;
  margin: 20px;
  padding: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mySheetsDisplay {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  border: #282c34 double;
  background-color: beige;
  color: white;
  font-family: fantasy;
}

.sheetCreated {
  font-family: fantasy;
}


.form{
  font-family: fantasy;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  display: grid;
  grid-template-columns: .5fr 1fr .5fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-gap: 10px;
}

.form-title{
  grid-row: 1;
  grid-column: 2;
}
.title-label{
  grid-row: 1;
  grid-column: 1;
}
.form-subject{
  grid-row: 1;
  grid-column: 4;
}
.subject-label{
  grid-row: 1;
  grid-column: 3;
}
.content-label{
  grid-row: 3;
}
.form-body{
  grid-row: 3;
  grid-column: 2/ span 4;
  height: 100%;
  word-wrap: break-word;
}

.form>button{
  grid-row: 4;
  grid-column: 4;
  width: 100px;
  margin-left: auto;
}

.navDiv{
  background-color: rgba(180, 180, 153, 0.486);
  width: 100%;
  box-sizing: border-box;
  margin-top: 0%;
  padding-top: 0%;
}

#search-form{
  background-color: rgba(180, 180, 153, 0.486);
  box-shadow: 0 15px 5px 5px rgba(180, 180, 153, 0.458);
  padding: 0 10px 10px 10px;
  margin: 0 auto;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}

select{
  background: none;
  border: none;
  height: 25px;
}
select:hover{
  background-color: rgba(180, 180, 153, 0.511);
}
#search-form>input{
  width: 100%;
  box-sizing: border-box;
}
 p{
  padding: 0 15px;
 }
