
	/* desktop */

  * {
    box-sizing: border-box;
  }

  html{
    background-color: black;
  }

  body {
    background-color: beige;
    border: solid 1px black;
    height: calc(100vh - 60px);
    max-width: 1200px;
    margin: 60px auto;
    text-align: center;
    border-radius: 25px;
  }

  /* |=== NAV ===| */

  .navDiv {
    /* background-color: rgba(180, 180, 153, 0.486); */
    width: 100%;
    box-sizing: border-box;
    margin-top: 0%;
    padding-top: 0%;
    display: inline-flex;
  }

  .navDiv>a{
    margin: 10px auto;
    font-size: 25px;
    color: green;
    text-decoration: none;
  }

  a:hover{
    text-shadow: 0 0 2px rgb(53, 170, 40);
  }
  /* |=== HOME ===|  */

  .home {
    max-width: 1000px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: fr 1fr;
    grid-template-rows: .25fr 1fr 1fr;
  }

  .home-header {
    padding: 20px;
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .homeImage {
    grid-column: 1;
    grid-row: 2/ span 3;
  }

  .homeImage>img {
    height: 100%;
    width: 50%;
  }

  .home-text {
    grid-column: 2;
    grid-row: 2 /span 3;
    margin: auto;
  }

  .homeImage>img {
    width: 100%;
    height: 100%;
  }

  /* NAV COMPONENTS > HEADER */
  .header {

    margin: auto;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 0, 0.643);
    border: 1px solid rgb(209, 209, 5);
    display: inline-flex;
    padding-left: 10px;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .header>h1{
    margin: auto;
    text-align: right;
    padding-right: 20px;
  }
  .header>div{
    margin-top: auto;
    margin-bottom: auto;
  }
  #red-circle{
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
  }
  #yellow-circle{
    height: 15px;
    width: 15px;
    background-color: goldenrod;
    border-radius: 50%;
  }
  #green-circle{
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
  }


  nav{
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-template-rows: .5fr 1fr 1fr;
  }
  #header-comp{
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  #subsearch-comp{
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  #nav-comp{
    width: 100px;
    grid-column: 3;
    grid-row: 1
  }





  /* |=== MY SHEETS ===| */

  #my-sheet-container, #create-form-container-div, .sheetCreated, #edit-post-container, #delete-post-container{
    padding: 20px;
    margin: 20px;
  }

  .mySheetsTitle {
    color: black;
  }

  .mySheetsDisplay, #result-card-container {
    display: grid;
    grid-gap: 40px;
    padding: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    border: #282c34 double;
    height: 100%;
    background-color: beige;
    box-sizing: border-box;
    overflow: hidden;
  }

  #child-sheet-div{
    width: 300px;
    height: 250px;
    background-color: rgba(180, 180, 153, 0.486);
    border: 1px solid rgba(62, 62, 53, 0.486);
    box-shadow: 2px 2px 2px 2px rgba(62, 62, 53, 0.486), 2px 2px 2px 5px rgba(62, 62, 53, 0.173) ;
    margin: auto;
    /* display: grid;
    grid-template-rows: .25px 1.75px;
    grid-template-columns: 1fr; */
  }
  p{
    margin: 40px;
  }
  #shadow{
    background-color: rgba(62, 62, 53, 0.268);
    height: 40px;
    grid-row: 1;
    grid-column: 1;
  }

  #mysheet-subject{
    grid-row: 2;
    grid-column: 1;
  }

  .mySheetsDisplay>a{
    color: green;
    grid-column: 1 / span 3;

  }

  #parent-sheet-display{
    border: none;
    box-shadow: none;
  }

  /* |=== EDIT POST ===| */
  .editPostTitle {
    padding: 20px;
  }


  /* |=== SEARCH FORM ===| */

  #search-icon{
    height: 20px;
    width: 20px;
  }

  #search-form{
    padding: 40px;
    margin: auto;
    /* display: inline-flex; */
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #search-result-main-div{
    padding: 20px;
  }

  #search-form>button, .nav-icon{
    height:40px;
    width:40px;
    font-size: 20px;
    margin-left: 10px;
    background-color: none;
    border-radius: 100%;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  #search-form>button:hover{
    border-radius: 25px;
    box-shadow: unset;
    background-color: rgb(180, 180, 151);
    border-radius: 50px;
    transition: all 0.3s ease 0s;
  }

  #parent-search-form{
    background-color: rgba(180, 180, 153, 0.486);
    box-shadow: 0 20px 5px 0px rgba(180, 180, 153, 0.458);

  }

  #search-select{
    margin: 10px;
    background: none;
    border: none;
    z-index: 1;
    width: 100px;
    grid-column: 2;
    grid-row: 1;
  }

  #search-form>input{
    grid-column: 2 / span 2;
    grid-row: 1;
    /* padding-left: 50px; */
    /* width: 100%; */
    height: 40px;
    box-sizing: border-box;
    border-radius: 25px;
  }

    #search-form>button{
      grid-column: 4;
      grid-row: 1;
    }


  /* |=== SEARCH RESULT ===| */

  #result-card-container>a{
    grid-column: 1 / span 3;
  }

  .emphasize{
    font-size: 30px;
    padding: 10px;
  }

  #result-card-container>a{
    padding: 0 15px;
    margin: auto;
    text-decoration: none;
   }

   /* |=== FORM ===| */

    .form{
    font-family: fantasy, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    padding: 30px;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-gap: 10px;
  }
   .form-title{
    grid-row: 1;
    grid-column: 2;
  }
  .title-label{
    grid-row: 1;
    grid-column: 1;
  }
  .form-subject{
    grid-row: 1;
    grid-column: 4;
  }
  .subject-label{
    grid-row: 1;
    grid-column: 3;
  }
  .content-label{
    grid-row: 3;
  }
  .form-body{
    grid-row: 3;
    grid-column: 2/ span 4;
    height: 100%;
    word-wrap: break-word;
  }
  .form>button{
    grid-row: 4;
    grid-column: 4;
    width: 100px;
    margin-left: auto;
  }
