.App {
  text-align: center;
}
body {
  background-color: beige;
  border: double black 10px;
  margin: 5%;
  padding: 12%;
}
a {
  color: green;
}
.navDiv {
  color: green;
  font-family: fantasy;
}
.homeImage img {
  width: 25%;
  height: 25%;
}
.header {
  color: green;
  font-family: fantasy;
  border: double black 10px;
}
.home {
  height: 100%;
}
.mySheetsTitle {
  font-family: fantasy;
  color: black;
}
.editPostTitle {
  font-family: fantasy;
}
.editPost {
  font-family: fantasy;
  display: flex;
  justify-content: center;
}
.searchResults {
  border: 10px double black;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: double black;
}

.App-link {
  color: beige;
}

.contentBox {
  border: 10px solid black;
  margin: 20px;
  padding: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* content styling */
#content-container {
  width: 800px;
  height: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#content-card-container {
  width: 300px;
  height: 100px;
  background-color: #61dafb;
  margin: 20px;
}
.mySheetsDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: #282c34 double;
  background-color: beige;
  color: white;
  font-family: fantasy;
}

.sheetCreated {
  font-family: fantasy;
}
